#comprar {
    position: relative;
    overflow: hidden;
    background-color: rgba(203, 227, 255, 0.619);
}

#comprar img.frutas {
    position: absolute;
    width: 100%;
    top: 0;
    left: -20%;
    z-index: 0;
    mix-blend-mode: hard-light;
    opacity: .2;
    mask-image: linear-gradient(to right, #000, transparent);
}

#comprar img.frutas.dois {
    position: absolute;
    top: 0;
    width: 100%;
    left: initial;
    right: -25%;
    transform: rotate(-180deg);
    z-index: 0;
    mix-blend-mode: hard-light;
    opacity: .2;
    mask-image: linear-gradient(to left, #000 40%, transparent);
}

#comprar .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    position: relative;
    z-index: 1;

    padding: 3rem;
    border-radius: 1rem;
    
    background: linear-gradient(45deg, #fff, #e8e8e8);
}

#comprar img.logo {
    width: 8rem;
    margin-bottom: 2rem;
}

#comprar h2 {
    font-family: "Bricolage Grotesque", sans-serif;
    color: var(--blue-medio);

    font-size: 3rem;
    font-weight: 700;

    line-height: 1.1;

    margin-bottom: 1rem;

    text-align: center;
}

#comprar h2 span {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#comprar .content p {
    font-size: 1.6rem;
    color: var(--blue-medio);
}

#comprar .content p span {
    font-weight: 600;
}

#comprar .content a {
    width: 100%;
}

#comprar .content a button {
    color: #fff;

    margin-top: 3rem;
    width: 100%;
    border: none;
    background: var(--gradient);
    padding: 1rem 3rem;
    border-radius: 1rem;
    font-size: 1.6rem;

    transition: all 200ms ease-in-out;
}

#comprar .content a button:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

@media (min-width: 1080px) {
    section#comprar .wrapper .content {
        margin-inline: 20%;
    }

    section#comprar .wrapper .content h2 {
        font-size: 6rem;
        margin-bottom: 2rem;
    }

    section#comprar .wrapper .content p {
        font-size: 1.8rem;
        line-height: 1.8;
    }

    section#comprar .wrapper .content a button {
        margin-top: 4rem;
        font-size: 2.5rem;
    }
}
